@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'League Spartan', sans-serif;
}

html {
    @apply
    min-h-screen w-full
    /* bg-gradient-to-bl from-[#1E3A8A] from-[8%] via-[#3B82F6] via-[38%] to-[#E0F2FE] to-95%
    bg-gradient-to-bl from-[#312E81] from-[8%] via-[#6366F1] via-40% to-[#EEF2FF] to-95%
    bg-gradient-to-bl from-[#0F172A] from-[8%] via-[#2563EB] via-40% to-[#E0F7FA] to-95%
    bg-gradient-to-bl from-[#1E293B] from-[8%] via-[#3B82F6] via-[38%] to-[#F1F5F9] to-95%
    bg-gradient-to-bl from-[#1E1B4B] from-[8%] via-[#6D28D9] via-40% to-[#F5F3FF] to-95%
    bg-gradient-to-bl from-[#0B253A] from-[8%] via-[#0EA5E9] via-[38%] to-[#E0F2F1] to-95%
    bg-gradient-to-bl from-[#1E1B4B] from-[8%] via-[#6366F1] via-[38%] to-[#FDE68A] to-95%
    bg-gradient-to-bl from-[#0F172A] from-[8%] via-[#14B8A6] via-[38%] to-[#ECFDF5] to-95% */
    bg-gradient-to-bl from-[#1E40AF] from-[8%] via-[#60A5FA] via-[38%] to-[#FFFFFF] to-95%
    /* bg-gradient-to-bl from-[#111827] from-[8%] via-[#4B5563] via-[38%] to-[#F9FAFB] to-95% */
}

/* Clases Header */
.contenedorHeader {
    @apply
    flex flex-col items-center justify-center w-full h-auto text-4xl
}

.contenedorLogoHeader {
    @apply flex xl:flex-shrink-0 pl-10 items-center w-full justify-center xl:w-auto
}

.contenedorMenuNavegacion {
    @apply flex justify-between xl:justify-end xl:px-4 xl:py-5 w-full xl:h-fit sm:h-24 sm:px-4;
}

.contenedorEnlacesHeader {
    @apply
    hidden xl:flex items-center space-x-10 w-full justify-end
}

.contenedorNavLink {
    @apply
    inline-flex flex-col items-center w-auto h-auto mx-1 my-1 text-5xl font-medium
}

.headerActivado {
    @apply
    text-white text-shadow-xl text-shadow-black translate-x-1 -translate-y-[0.1rem]
}

.headerSinActivar {
    @apply
    text-white transition ease-in-out hover:translate-x-1 hover:-translate-y-[0.1rem] hover:text-shadow-xl hover:text-shadow-black
}

.contenedorBotonMenuMovil {
    @apply
    -me-2 flex flex-col items-center
    xl:hidden
}

.contenedorMenuNavegacionMovil {
    @apply flex flex-col w-full
}

.enlaceHeaderMovil {
    @apply w-full h-10 flex relative justify-center items-center ps-3 pe-4 py-2 text-xl font-bold transition duration-150 ease-in-out border-transparent text-black hover:text-white hover:text-shadow-xl hover:text-shadow-black overflow-hidden
}

.enlaceHeaderMovilActivo {
    @apply w-full flex justify-center items-center ps-3 pe-4 py-2 text-xl font-bold text-white bg-[#18338d] text-shadow-xl text-shadow-black ;
}
/* Pseudo-elementos por defecto */
*:before,
*:after {
  z-index: -1;
}

.enlaceHeaderMovil::before,
.enlaceHeaderMovil::after {
  content: '';
  @apply absolute top-0 right-0 bottom-0 left-0 transition-transform duration-150 ease-in-out;
}

.enlaceHeaderMovil::before {
  @apply right-[-50px] transform -translate-x-full;
  border-bottom: 40px solid #1E40AF;
  border-right: 50px solid transparent;
}

.enlaceHeaderMovil::after {
  @apply left-[-50px] transform translate-x-full;
  border-top: 40px solid #1E40AF;
  border-left: 50px solid transparent;
}

.enlaceHeaderMovil:hover {
  @apply z-0 text-white;
}

.enlaceHeaderMovil:hover::before {
  transform: translateX(-49%);
}

.enlaceHeaderMovil:hover::after {
  transform: translateX(49%);
}

/* Clases Main */
main {
    @apply
    min-h-screen w-full
}
