@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Resoluciones
    sm: 640px
    md: 768px
    lg: 1024px
    xl: 1280px
    2xl: 1536px
    3xl: 1920px
    4xl: 2560px
*/

/* Modo Claro y Oscuro */
.modoClaro {
    @apply bg-[#F5E6CC] text-[#9a1a23]

    /* text-[#c01c28] */
}
* {
    font-family: 'League Spartan', sans-serif;
}

html {
    @apply
    min-h-screen w-full scroll-smooth scroll-pt-[6.8677rem]
    bg-[#2d343f]
}

/* Clases troncales */
.titulos {
    @apply
    text-4xl font-bold text-[#66baf4] h-auto
    lg:text-5xl
    3xl:text-7xl
    dark:text-[#9a1a23]
}

.textos {
    @apply
    text-xl leading-relaxed
    lg:text-2xl
    3xl:text-4xl
}

.bloqueCarrusel {
    @apply flex flex-col w-full items-center justify-center gap-6 text-white transition-colors duration-500 ease-in-out
    dark:text-black
}

.bloqueSlides {
    @apply relative flex items-center justify-center h-[30rem] w-full max-w-5xl overflow-visible
}

.slidePrincipal {
    @apply absolute w-64 h-64 flex items-center justify-center rounded-2xl shadow-xl transition-all duration-500 bg-[#2d343f] cursor-pointer hover:scale-105
    sm:w-[30rem] sm:h-[30rem]
    md:w-[29rem] md:h-[29rem]
    lg:w-[28rem] lg:h-[28rem]
    xl:w-[25rem] xl:h-[25rem]
    2xl:w-[26rem] 2xl:h-[26rem]
    3xl:w-[27rem] 3xl:h-[27rem]
    4xl:w-[28rem] 4xl:h-[28rem]
    dark:bg-[#f5e6cc]
}

.fotoSlide {
    @apply object-contain max-h-full w-full h-full p-2
}

.contenedorBotonesSlide {
    @apply flex gap-4 mt-6
}

.btnSlide {
    @apply
    bg-black/40 px-6 py-3 rounded-xl
    hover:bg-black/60
    sm:px-16 sm:py-8 sm:text-2xl sm:font-bold
    xl:px-6 xl:py-3 xl:text-base xl:font-normal
    dark:bg-white/40 dark:hover:bg-white/60
}

.contenedorDots {
    @apply flex items-center justify-center gap-3 sm:gap-6
}

.dotsSlide {
    @apply
    rounded-full cursor-pointer transition-all duration-300 ease-in-out
    sm:w-6 sm:h-6
    xl:w-4 xl:h-4
   dark:hover:bg-black dark:text-[#9a1a23]
}

.dotsSlideActivo {
    @apply w-6 h-6 rounded-full bg-[#66baf4] cursor-pointer transition-all duration-300 ease-in-out
    dark:bg-[#9a1a23]
}

.dotsSlideInactivo {
    @apply
    w-4 h-4 rounded-full bg-[#66baf4]/40 cursor-pointer transition-all duration-300 ease-in-out
    hover:bg-[#66baf4]/60
    dark:bg-[#9a1a23]/40 dark:hover:bg-[#9a1a23]/60
}

.nextSlide {
    @apply
    bg-black/40 px-6 py-3 rounded-xl
    hover:bg-black/60
    dark:bg-white/40 dark:hover:bg-white/60
}

.contenedorModal {
    @apply
    w-full flex flex-col items-center p-6 text-white
    xl:flex-row
    dark:text-black dark:bg-[#f5e6cc]
}

.fotoEnlaceModal {
    @apply
    flex items-center justify-center w-full h-96 object-contain mb-6
    4xl:h-[30rem]
}

.fotoModal {
    @apply
    h-full
}

.contenedorTextoModal {
    @apply
    w-full h-full space-y-4
}

.tituloModal {
    @apply
    text-4xl font-semibold
}

.contenedorTecnologias {
    @apply
    flex flex-wrap gap-2
}

.tecnologiasModal {
    @apply
    bg-[#66baf4]  px-3 py-1 rounded-full text-xl text-black
    dark:bg-[#9a1a23] dark:text-white
}

.textoModal {
    @apply
    text-2xl mb-4
}

.panelModal {
    @apply flex mb-6 transform overflow-hidden rounded-lg bg-[#1d232c] shadow-2xl transition-all mx-auto
    sm:w-[35rem]
    md:w-[40rem]
    lg:w-[50rem]
    xl:w-[70rem]
    2xl:w-[85rem]
    3xl:w-[100rem]
    4xl:w-[120rem]
    dark:bg-[#f1d7ac]
}

/* Clases Header */
.contenedorHeader {
    @apply
    fixed items-center justify-center w-full h-auto text-4xl z-20 bg-[#2d343f] transition-colors duration-500 ease-in-out
    2xl:flex 2xl:flex-col
    dark:bg-[#f5e6cc]
}

.contenedorLogoHeader {
    @apply
    flex pl-10 items-center w-full justify-center
    2xl:flex-shrink-0 2xl:w-auto
}

.linkLogoHeader {
    @apply
    flex items-center justify-center
}

.contenedorMenuNavegacion {
    @apply
    flex justify-between w-full items-center
    sm:h-24 sm:px-4
    2xl:justify-end 2xl:px-4 2xl:py-5 2xl:h-fit
}

.contenedorEnlacesHeader {
    @apply
    hidden 2xl:flex items-center space-x-10 w-full justify-end
}

.contenedorNavLink {
    @apply
    inline-flex flex-col items-center w-auto h-auto mx-1 my-1 text-5xl font-medium
}

.headerActivado {
    @apply
    text-[#66baf4] text-shadow-xl text-shadow-black translate-x-1 -translate-y-[0.1rem]
    dark:text-[#9a1a23] dark:text-shadow-white
}

.headerSinActivar {
    @apply
    text-white transition ease-in-out
    hover:translate-x-1 hover:-translate-y-[0.1rem] hover:text-shadow-xl hover:text-shadow-black hover:text-[#66baf4]
    dark:hover:text-[#9a1a23] dark:text-black dark:text-shadow-white
}

.botonModo {
    @apply
    relative flex items-center justify-center w-24 h-10 mr-10
    2xl:ml-6 2xl:mr-2
}

.bolaBotonModo {
    @apply
    absolute z-20 w-7 h-7 bg-white rounded-full transition-transform duration-500 ease-in-out
    sm:w-8 sm:h-8
}

.contenedorBarraModo {
    @apply w-full h-4 sm:h-5 rounded-full overflow-hidden bg-black/10
}

.carruselModo {
    @apply
    flex w-[200%] h-full transition-transform duration-500 ease-in-out
}

.barraOscuro {
    @apply
    w-1/2 h-full bg-[#66baf4]
}

.barraClaro {
    @apply
    w-1/2 h-full bg-[#9a1a23]
}

.contenedorBotonMenuMovil {
    @apply
    -me-2 flex flex-col items-center z-20
    2xl:hidden
}

.menuNavegacionMovil {
    @apply
    fixed top-[96px] left-0 w-full h-screen transition-transform duration-500 ease-linear 2xl:hidden

}

.menuAbierto {
    @apply
    -translate-x-0
}

.menuCerrado {
    @apply
    translate-x-full
}

.trampaMovil {
    @apply min-h-screen w-full bg-[#2d343f]
    dark:bg-[#f5e6cc]
}

.contenedorMenuNavegacionMovil {
    @apply flex flex-col w-full min-h-screen
}

.menuAbierto .contenedorMenuNavegacionMovil > * {
    @apply opacity-0
}

.menuCerrado .contenedorMenuNavegacionMovil > * {
    @apply opacity-100
}

.menuAbierto .contenedorMenuNavegacionMovil > *:nth-child(1) {
  @apply fade-left;
  animation-delay: 0s;
}

.menuAbierto .contenedorMenuNavegacionMovil > *:nth-child(2) {
  @apply fade-left;
  animation-delay: 0.1s;
}

.menuAbierto .contenedorMenuNavegacionMovil > *:nth-child(3) {
  @apply fade-left;
  animation-delay: 0.2s;
}

.menuAbierto .contenedorMenuNavegacionMovil > *:nth-child(4) {
  @apply fade-left;
  animation-delay: 0.3s;
}

.menuAbierto .contenedorMenuNavegacionMovil > *:nth-child(5) {
  @apply fade-left;
  animation-delay: 0.4s;
}

.menuAbierto .contenedorMenuNavegacionMovil > *:nth-child(6) {
  @apply fade-left;
  animation-delay: 0.5s;
}

.menuAbierto .contenedorMenuNavegacionMovil > *:nth-child(7) {
  @apply fade-left;
  animation-delay: 0.6s;
}

.menuCerrado .contenedorMenuNavegacionMovil > *:nth-child(1) {
  @apply fade-left-out;
  animation-delay: 0s;
}

.menuCerrado .contenedorMenuNavegacionMovil > *:nth-child(2) {
  @apply fade-left-out;
  animation-delay: 0.1s;
}

.menuCerrado .contenedorMenuNavegacionMovil > *:nth-child(3) {
  @apply fade-left-out;
  animation-delay: 0.2s;
}

.menuCerrado .contenedorMenuNavegacionMovil > *:nth-child(4) {
  @apply fade-left-out;
  animation-delay: 0.3s;
}

.menuCerrado .contenedorMenuNavegacionMovil > *:nth-child(5) {
  @apply fade-left-out;
  animation-delay: 0.4s;
}

.menuCerrado .contenedorMenuNavegacionMovil > *:nth-child(6) {
  @apply fade-left-out;
  animation-delay: 0.5s;
}

.menuCerrado .contenedorMenuNavegacionMovil > *:nth-child(7) {
  @apply fade-left-out;
  animation-delay: 0.6s;
}

.enlaceHeaderMovil {
    @apply
    w-full flex relative justify-center items-center pe-4 py-2 text-4xl font-bold transition duration-0 ease-out border-transparent bg-[#2d343f] text-white
    hover:text-white hover:text-shadow-xl hover:text-shadow-black overflow-hidden
    dark:bg-[#f5e6cc] dark:text-black dark:hover:text-white

}

.enlaceHeaderMovilActivo {
    @apply w-full flex justify-center items-center pe-4 py-2 text-4xl font-bold text-white bg-[#18338d] text-shadow-xl text-shadow-black;
}

/* Pseudo-elementos por defecto */
*:before,
*:after {
  z-index: -1;
}

.enlaceHeaderMovil::before,
.enlaceHeaderMovil::after {
  content: '';
  @apply absolute top-0 right-0 bottom-0 left-0 transition-transform duration-[400ms] ease-in-out;
}

.enlaceHeaderMovil::before {
  @apply right-[-60px] transform -translate-x-full border-b-[#66baf4] dark:border-b-[#9a1a23];
  /* border-top: 60px solid #1E40AF; */
  border-bottom: 100px solid #66baf4 ;
  /* #9a1a23 */
  /* border-right: 60px solid transparent; */
}

/* .enlaceHeaderMovil::after {
  @apply left-[-50px] transform translate-x-full;
  border-top: 30px solid #1E40AF;
  border-left: 60px solid transparent;
} */

.enlaceHeaderMovil:hover {
  @apply z-0;
}

.enlaceHeaderMovil:hover::before {
  transform: translateX(-0%);
}

.enlaceHeaderMovil:hover::after {
  transform: translateX(0%);
}

/* Clases Main */
main {
    @apply
    min-h-screen w-full
}

/* Clases Inicio */
.bloqueInicio {
    @apply
    flex flex-col items-start justify-center pt-24 p-6 min-h-screen space-y-10 bg-[#2d343f] transition-colors duration-500 ease-in-out
    md:p-[1.8125rem]
    lg:p-[2.375rem]
    xl:p-12
    2xl:mb-0 2xl:items-center 2xl:p-24 2xl:flex-row 2xl:justify-between 2xl:space-y-0
    dark:bg-[#f5e6cc]
}

.contenedorFotoInicio {
    @apply
    flex w-full overflow-hidden items-center justify-center h-1/2
    2xl:w-1/2 2xl:h-auto
}

.fotoInicio {
    @apply
    w-[30rem] object-contain
    2xl:block 2xl:w-[24rem]
    3xl:w-[30rem]
    4xl:w-[40rem]
}

@layer utilities {
    @media screen and (min-width: 640px) {
        .fotoInicio {
            @apply fade-up;
        }
    }
}

@layer utilities {
    @media screen and (min-width: 1536px) {
        .fotoInicio {
            @apply fade-left;
        }
    }
}

.cuadroTextoInicio {
    @apply
    text-white h-1/2 justify-center text-center w-full overflow-hidden
    2xl:w-1/2 2xl:text-right 2xl:flex 2xl:flex-col 2xl:h-96
    dark:text-black
}

.tituloInicio {
    @apply
    text-6xl font-semibold text-white h-auto tracking-[-0.3rem] w-full
    2xl:text-6xl 2xl:pr-1
    3xl:text-7xl
    4xl:text-8xl
    dark:text-black
}

@layer utilities {
    @media (min-width: 640px) {
        .tituloInicio {
            @apply fade-down;
        }
    }
}

@layer utilities {
    @media (min-width: 1536px) {
        .tituloInicio {
            @apply fade-right;
        }
    }
}

.tituloDev {
    @apply
    text-4xl font-semibold text-white h-auto w-full tracking-[1rem]
    2xl:ml-[1rem]
    3xl:text-5xl 3xl:tracking-[1.2rem] 3xl:ml-[1.2rem]
    4xl:text-6xl 4xl:tracking-[2rem] 4xl:ml-[2rem]
    dark:text-black
}

@layer utilities {
    @media (min-width: 640px) {
        .tituloDev {
            @apply fade-down;
        }
    }
}

@layer utilities {
    @media (min-width: 1536px) {
        .tituloDev {
            @apply fade-right;
        }
    }
}

.barraSeparacion {
    @apply bg-white h-4 w-full
    2xl:h-[24rem] 2xl:block 2xl:w-2
    3xl:h-[30rem]
    4xl:h-[40rem]
    dark:bg-black
}

/* Clases Sobre Mí */
.bloqueSobreMi {
    @apply
    flex flex-col min-h-screen items-center p-6 justify-center leading-relaxed text-white overflow-hidden space-y-8 bg-[#1d232c] transition-colors duration-500 ease-in-out
    md:p-[1.8125rem]
    lg:p-[2.375rem]
    xl:p-12
    2xl:p-24 2xl:space-y-80 2xl:m-0
    dark:text-black dark:bg-[#f1d7ac]
}

.bloqueHabilidades {
    @apply
    flex flex-col justify-between w-full textos overflow-hidden space-y-8
    2xl:flex-row 2xl:space-y-0
}

/* Clases Conocimientos */
.bloqueConocimientos {
    @apply
    flex flex-col min-h-screen items-center justify-center p-6 leading-relaxed 2xl:m-0 text-white overflow-hidden space-y-8 bg-[#2d343f] transition-colors duration-500 ease-in-out
    md:p-[1.8125rem]
    lg:p-[2.375rem]
    xl:p-12
    2xl:p-24 2xl:space-y-48
    dark:text-black dark:bg-[#f5e6cc]
}

.bloqueListasConocimientos {
    @apply
    w-full h-auto flex flex-col justify-center items-center gap-6 overflow-hidden
    2xl:flex-row 2xl:h-[30rem]
}

.bloqueListasConocimientos > *:nth-child(1) {
    animation-delay: 0s;
}

.bloqueListasConocimientos > *:nth-child(2) {
    animation-delay: 0.1s;
}

.bloqueListasConocimientos > *:nth-child(3) {
    animation-delay: 0.2s;
}

.bloqueListasConocimientos > * > h1 {
    @apply opacity-0;
    animation-delay: 0.8s
}

.bloqueListasConocimientos > * > ol {
    @apply opacity-0;
    animation-delay: 1s
}

.bloqueListasConocimientos > * > img {
    @apply opacity-0;
    animation-delay: 1s
}

.tituloListaConocimientos {
    @apply
    text-4xl font-semibold text-white h-auto
    3xl:text-5xl
    dark:text-black
}

.textoListaConocimientos {
    @apply
    text-xl space-y-4
    lg:text-2xl
    3xl:text-4xl
}

.listaConocimientos {
    @apply
    flex flex-col w-full h-full bg-[#1d232c] rounded-3xl p-4 opacity-0 transition-all duration-700 ease-out overflow-hidden
    dark:bg-[#f1d7ac]
}

.imagenLista {
    @apply flex items-center gap-2 w-10 h-10
}

/* Clases Proyectos */
.bloqueProyectos {
    @apply
    flex flex-col min-h-screen items-center p-6 justify-center leading-relaxed text-white overflow-hidden space-y-8 bg-[#1d232c] transition-colors duration-500 ease-in-out
    md:p-[1.8125rem]
    lg:p-[2.375rem]
    xl:p-12
    2xl:p-24 2xl:space-y-20 2xl:m-0
    dark:text-black dark:bg-[#f1d7ac]
}

.bloqueListasProyectos {
    @apply
    w-full h-auto flex flex-col justify-center items-center gap-6
    2xl:flex-row 2xl:h-[30rem]
}

.proyecto {
    @apply
    flex flex-shrink w-96 h-96 rounded-3xl p-4
}
/* Clases Contacto */
.bloqueContactos {
    @apply
    flex flex-col min-h-screen items-center p-6 justify-center leading-relaxed text-white overflow-hidden space-y-8 bg-[#2d343f] transition-colors duration-500 ease-in-out
    md:p-[1.8125rem]
    lg:p-[2.375rem]
    xl:p-12
    2xl:p-24 2xl:space-y-20 2xl:m-0
    dark:text-black dark:bg-[#f5e6cc]
}

.barraSeparacionContacto {
    @apply bg-white h-4 w-full
    2xl:h-[35rem] 2xl:block 2xl:w-2
    4xl:h-[40rem]
    dark:bg-black
}

.inputsContacto {
    @apply
    w-full p-4 mb-4 bg-white text-black text-lg rounded
    focus:outline-none focus:ring-4 focus:ring-[#66baf4] focus:border-transparent
    placeholder:text-gray-500
    dark:focus:ring-[#9a1a23]
    lg:text-2xl

}

.botonContacto {
    @apply
    bg-[#66baf4] text-white font-bold p-4 rounded text-xl w-full
    hover:bg-[#4aa6eb] hover:shadow-black hover:shadow-blur hover:translate-x-2 hover:-translate-y-2 transition ease-in-out duration-200
    active:bg-[#2b91e1] active:translate-x-0 active:translate-y-0 active:shadow-none
    dark:bg-[#9a1a23] dark:hover:bg-[#94030a] dark:active:bg-[#8e0000]
    lg:text-2xl
    2xl:text-4xl
}

.imagenContacto {
    @apply w-14 h-14 object-contain me-4
}

.contenedorContactos {
    @apply flex flex-col w-full p-8 items-center justify-between
    2xl:flex-row 2xl:px-0
}

.contenedorOtrosMetodos {
    @apply w-full space-y-8 p-2 pb-8 overflow-hidden
    lg:p-4
    xl:p-8
    2xl:w-1/2 2xl:pl-0
    3xl:p-8
}

#contenedorEnlaces {
    @apply flex flex-col space-y-4 w-full
}

.tituloOtrosMetodos {
    @apply text-xl mb-0
    lg:text-2xl
    3xl:text-3xl
    4xl:text-4xl
}

.enlacesContacto {
    @apply flex space-x-2 h-fit items-center mb-2 rounded p-4 text-3xl bg-[#1d232c] cursor-pointer
    hover:shadow-black hover:shadow-blur hover:translate-x-2 hover:-translate-y-2 hover:bg-[#66baf4] transition ease-in-out duration-200
    active:bg-[#2b91e1] active:translate-x-0 active:translate-y-0 active:shadow-none
    dark:bg-[#f1d7ac] dark:hover:bg-[#94030a] dark:active:bg-[#8e0000]
}

.contenedorFormulario {
    @apply w-full p-2 pt-8 overflow-hidden
    lg:p-4
    xl:p-8
    2xl:w-1/2
}

.filaNombre {
    @apply flex space-x-4
}

/* Clases Footer */
.contenedorFooter {
    @apply
    h-fit w-full flex flex-col items-center justify-center bg-[#1d232c] text-white transition duration-500 ease-in-out px-12
    dark:text-black dark:bg-[#f1d7ac]
    2xl:px-96
}

.contenedorPresentacion {
    @apply  flex flex-col justify-between w-full py-8 space-y-6
    lg:flex-row lg:space-y-0
}

.tituloFooter {
    @apply
    text-3xl font-bold
}

.textoFooter {
    @apply
    text-lg italic
}

.contenedorLineaSeparacion {
    @apply w-full
}

.lineaSeparacionFooter {
    @apply  h-[0.05rem] bg-white dark:bg-black
}

.enlacesFooter {
    @apply
    w-fit block hover:text-[#66baf4] transition duration-200 ease-in-out dark:hover:text-[#94030a]
}

/* Animaciones */
@keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-up {
    animation: fadeUp 1s ease-out forwards;
  }

@keyframes fadeDown {
0% {
    opacity: 0;
    transform: translateY(-100%);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}

.fade-down {
animation: fadeDown 1s ease-out forwards;
}

@keyframes fadeLeft {
0% {
    opacity: 0;
    transform: translateX(100%);
}
100% {
    opacity: 1;
    transform: translateX(0%);
}
}

.fade-left {
animation: fadeLeft 1s ease-out forwards;
}

@keyframes fadeRight {
0% {
    opacity: 0;
    transform: translateX(-100%);
}
100% {
    opacity: 1;
    transform: translateX(0);
}
}

.fade-right {
animation: fadeRight 1s ease-out forwards;
}

@keyframes fadeLeftOut {
0% {
    opacity: 1;
    transform: translateX(0);
}
100% {
    opacity: 0;
    transform: translateX(100%);
}
}

.fade-left-out {
animation: fadeLeftOut 1s ease-out forwards;
}
