@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'League Spartan', sans-serif;
}

html {
    @apply
    min-h-screen w-full
    /* bg-gradient-to-bl from-[#1E3A8A] from-[8%] via-[#3B82F6] via-[38%] to-[#E0F2FE] to-95%
    bg-gradient-to-bl from-[#312E81] from-[8%] via-[#6366F1] via-40% to-[#EEF2FF] to-95%
    bg-gradient-to-bl from-[#0F172A] from-[8%] via-[#2563EB] via-40% to-[#E0F7FA] to-95%
    bg-gradient-to-bl from-[#1E293B] from-[8%] via-[#3B82F6] via-[38%] to-[#F1F5F9] to-95%
    bg-gradient-to-bl from-[#1E1B4B] from-[8%] via-[#6D28D9] via-40% to-[#F5F3FF] to-95%
    bg-gradient-to-bl from-[#0B253A] from-[8%] via-[#0EA5E9] via-[38%] to-[#E0F2F1] to-95%
    bg-gradient-to-bl from-[#1E1B4B] from-[8%] via-[#6366F1] via-[38%] to-[#FDE68A] to-95%
    bg-gradient-to-bl from-[#0F172A] from-[8%] via-[#14B8A6] via-[38%] to-[#ECFDF5] to-95% */
    bg-gradient-to-bl from-[#1E40AF] from-[8%] via-[#60A5FA] via-[38%] to-[#FFFFFF] to-95%
    /* bg-gradient-to-bl from-[#111827] from-[8%] via-[#4B5563] via-[38%] to-[#F9FAFB] to-95% */
}

main {
    @apply
    min-h-screen w-full
}

/* Clases Header */
.contenedorHeader {
    @apply
    flex flex-col items-center justify-center w-full h-auto text-4xl
}

.contenedorLogoHeader {
    @apply flex 2xl:flex-shrink-0 pl-10 items-center w-full justify-center 2xl:w-auto
}

.contenedorMenuNavegacion {
    @apply flex justify-between 2xl:justify-end 2xl:px-4 2xl:py-5 w-full 2xl:h-fit sm:h-24 sm:px-4;
}

.contenedorEnlacesHeader {
    @apply
    hidden 2xl:flex items-center space-x-10 w-full justify-end
}

.contenedorNavLink {
    @apply
    inline-flex flex-col items-center w-auto h-auto mx-1 my-1 text-5xl font-medium
}

.headerActivado {
    @apply
    text-white text-shadow-xl text-shadow-black translate-x-1 -translate-y-[0.1rem]
}

.headerSinActivar {
    @apply
    text-white transition ease-in-out hover:translate-x-1 hover:-translate-y-[0.1rem] hover:text-shadow-xl hover:text-shadow-black
}

.contenedorBotonMenuMovil {
    @apply
    -me-2 flex flex-col items-center
    2xl:hidden
}

.contenedorMenuNavegacionMovil {
    @apply flex flex-col w-full
}

.enlaceHeaderMovil {
    @apply w-full flex relative justify-center items-center pe-4 py-2 text-4xl font-bold transition duration-0 ease-out border-transparent text-black hover:text-white hover:text-shadow-xl hover:text-shadow-black overflow-hidden
}

.enlaceHeaderMovilActivo {
    @apply w-full flex justify-center items-center pe-4 py-2 text-4xl font-bold text-white bg-[#18338d] text-shadow-xl text-shadow-black ;
}
/* Pseudo-elementos por defecto */
*:before,
*:after {
  z-index: -1;
}

.enlaceHeaderMovil::before,
.enlaceHeaderMovil::after {
  content: '';
  @apply absolute top-0 right-0 bottom-0 left-0 transition-transform duration-150 ease-in-out;
}

.enlaceHeaderMovil::before {
  @apply right-[-50px] transform -translate-x-full;
  border-bottom: 60px solid #1E40AF;
  border-right: 50px solid transparent;
}

.enlaceHeaderMovil::after {
  @apply left-[-50px] transform translate-x-full;
  border-top: 60px solid #1E40AF;
  border-left: 50px solid transparent;
}

.enlaceHeaderMovil:hover {
  @apply z-0;
}

.enlaceHeaderMovil:hover::before {
  transform: translateX(-49%);
}

.enlaceHeaderMovil:hover::after {
  transform: translateX(49%);
}

/* Clases Main */
main {
    @apply
    min-h-screen w-full
}

/* Clases Inicio */
.bloqueInicio {
    @apply
    flex items-start m-20 justify-between
}

.fotoInicio {
    @apply
    hidden 2xl:block bg-white rounded-2xl h-[40rem] w-[40rem] fade-up
}

.cuadroTextoInicio {
    @apply
    text-white h-[40rem] w-full 2xl:w-[55rem] fade-up
}
.tituloInicio {
    @apply
    text-[75px] font-bold h-auto
}

.textoInicio {
    @apply
    text-4xl leading-relaxed
}

/* Clases Sobre Mí */
/* Clases Conocimientos */
/* Clases Proyectos */
/* Clases Contacto */

/* .animacionEscritura {
    @apply
    text-4xl font-bold text-center text-white animate-ping;
} */
/* Animaciones*/
@layer utilities {
  @keyframes blink {
    0%, 49% { opacity: 1; }
    50%, 100% { opacity: 0; }
  }
  .animacionEscritura {
    @apply
    animate-ping;
    animation: blink 1s steps(1) infinite;
  }
}

/* Animación Fade Up -  */
@keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(80px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-up {
    animation: fadeUp 1s ease-out forwards;
  }

