@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'League Spartan', sans-serif;
}

html {
    @apply
    min-h-screen w-full
    bg-gradient-to-bl from-[#4551A1] from-10% via-[#2600FF] via-30% to-[#0D0056] to-90%
}

main {
    @apply
    min-h-screen w-full
}

.contenedorHeader {
    @apply
    flex flex-col items-center justify-center w-full h-auto text-4xl
}

.contenedorMenuNavegacion {
    @apply flex justify-end px-4 py-5 w-full
}

.contenedorEnlacesHeader {
    @apply
    hidden xl:flex items-center space-x-10 w-full justify-end
}

.contenedorNavLink {
    @apply
    inline-flex flex-col items-center w-auto h-auto mx-1 my-1 text-4xl font-medium
}

.headerActivado {
    @apply
    text-white text-shadow-xl text-shadow-black translate-x-1 -translate-y-[0.1rem]
}

.headerSinActivar {
    @apply
    text-white transition ease-in-out hover:translate-x-1 hover:-translate-y-[0.1rem] hover:text-shadow-xl hover:text-shadow-black
}

.contendorMenuNavegacionMovil {
    @apply pt-2 pb-3 space-y-1
}

.contenedorBotonMenuMovil {
    @apply
    -me-2 flex flex-col items-center
    xl:hidden
}

.botonMenuMovil{
    @apply inline-flex items-center justify-center p-2 rounded-md text-[#121214] hover:text-[#F6F6F6] hover:bg-[#0088CC] focus:outline-none focus:bg-[#0088CC] focus:text-[#F6F6F6] transition duration-150 ease-in-out
}

.contendorMenuNavegacionMovil {
    @apply flex flex-col space-y-1 w-full
}

.enlaceHeaderMovil {
    @apply w-full h-10 flex relative justify-start items-center ps-3 pe-4 py-2 border-b-4 text-base font-medium transition duration-150 ease-in-out border-transparent text-[#b4dcf0] hover:text-[#F6F6F6] hover:bg-[#0088CC] focus:text-[#F6F6F6] focus:bg-[#0088CC] overflow-hidden
}

.enlaceHeaderMovilActivo {
    @apply w-full flex items-start ps-3 pe-4 py-2 border-b-4 text-base font-medium text-black bg-[]
}

/* Pseudo-elementos por defecto */
*:before,
*:after {
  z-index: -1;
}

.enlaceHeaderMovil::before,
.enlaceHeaderMovil::after {
  content: '';
  @apply absolute top-0 right-0 bottom-0 left-0 transition-transform duration-300 ease-in-out;
}

.enlaceHeaderMovil::before {
  @apply right-[-50px] transform -translate-x-full;
  border-bottom: 40px solid rgb(0, 191, 255);
  border-right: 50px solid transparent;
}

.enlaceHeaderMovil::after {
  @apply left-[-50px] transform translate-x-full;
  border-top: 40px solid rgb(0, 191, 255);
  border-left: 50px solid transparent;
}

.enlaceHeaderMovil:hover {
  @apply z-0 text-black;
}

.enlaceHeaderMovil:hover::before {
  transform: translateX(-49%);
}

.enlaceHeaderMovil:hover::after {
  transform: translateX(51%);
}


